.container {
  margin-top: 20px;
}

.search-field {
  margin-bottom: 20px;
}

.search-field input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-list li {
  padding: 10px;
  cursor: pointer;
}

.filter-list li.active {
  border-radius: 5px;
  background-color: rgb(180, 6, 38);
  color: white;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(33.333% - 40px);
  margin: 10px;
}

.gallery-item-image {
  width: 100%;
  height: auto;
}

.filter-section {
  padding: 20px;
  border-left: 2.5px solid #ddd;
}

@media (max-width: 568px) {
  .filter-section {
      display: none;
  }

  .gallery-item {
      width: calc(100% - 20px);
      margin: 10px;
  }
}

@media (min-width: 569px) {
  .filter-button {
      display: none;
  }
}
